<nav class="navbar">
  <div class="wrapper navbar__wrapper">
    <div class="navbar__site-name">
      <a href='/'>Who's Blog</a>
    </div>
    <ul class="navbar__list">
      <div>
        <li><a href="/all_article">文章列表</a></li>
        <li><a href="#">分類專區</a></li>
        <li><a href="#">關於我</a></li>
      </div>
      <div>
        <% if(url !== '/login'){ %> 
          <% if(username) { %>
            <% if(url !== '/admin'){ %> 
              <li><a href="/admin">管理後台</a></li>
            <% }else{ %>
              <li><a href="/edit">編輯文章</a></li>
            <% } %> 
          <li><a href="/logout">登出</a></li>
          <% }else{ %>
          <li><a href="/login">登入</a></li>
          <% } %>
        <% } %> 
      </div>
    </ul>
  </div>
</nav>