<!DOCTYPE html>

<html>
<head>
<%- include('../template/head') %> 
</head>

<body>
  <%- include('../template/navbar') %> 
  <section class="banner">
    <div class="banner__wrapper">
      <h1>存放技術之地</h1>
      <div>Welcome to my blog</div>
    </div>
  </section>
  <div class="login-wrapper">
    <h2>Login</h2>
    <% if(errorMessage&&errorMessage.length>0){ %> 
      <h3 class = "error"><%= errorMessage %></h3>
    <% } %>
    <form action="/register" method="POST">
      <div class="input__wrapper">
        <div class="input__label">USERNAME</div>
        <input class="input__field" type="text" name="username" />
      </div>
      
      <div class="input__wrapper">
        <div class="input__label">PASSWORD</div>
        <input class="input__field" type="password" name="password" />
      </div>
      <input type='submit' value="登入" />
    </form>
     
  </div>
</body>
</html>